.todoListWrapper {
  padding: 1rem;
  margin: 1rem 0;
}

.todoList {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.todoList .todoListItem {
  margin-bottom: 0.5rem;
}
