.addTodoFormWrapper {
  padding: 0.5rem;
}

.addTodoForm {
  display: flex;
  flex-direction: row;
}

.addTodoFormInput {
  flex: 1;
  padding: 1rem;
  font-size: 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
}
